<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=yes"/>
    <title>个人中心</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/personal.css">
    <style>

    </style>
</head>
<body>
<div class="wrapper">
    <div class="top_1">
         个人信息
    </div>
    <div class="top-pic b-btm">
        <ul>
            <li class="per-li1"><img class="per-pic" src="../../images/Artboard%2015@3x.png" alt=""></li>
            <li class="per-li2">个人信息／详情</li>
            <li class="per-li3"><img class="per-more" src="../../images/Artboard%2013@3x.png" alt=""></li>
        </ul>
    </div>
    <div class="per-list b-btm b-top">
        <div class="b-btm" >
            <img src="../../images/Artboard%2016@3x.png" alt="">
            <span>数据统计</span>
        </div>
        <div>
            <img src="../../images/Artboard%2017@3x.png" alt="">
            <span>我的客户</span>
        </div>
    </div>

    <div class="per-list b-btm b-top">
        <div class="b-btm" >
            <img src="../../images/Artboard%2018@3x.png" alt="">
            <span>我的奖金</span>
        </div>
        <div>
            <img src="../../images/Artboard%2019@3x.png" alt="">
            <span>设置</span>
        </div>
    </div>
    <div class="per-list b-btm b-top">
        <div class="b-btm" >
            <img src="../../images/Artboard%2020@3x.png" alt="">
            <span>高级权限</span>
        </div>
    </div>
    
    <nav class="nav-list">
        <a href="../index.html">
            <span><img src="../../images/Artboard%202%20Copy%205@3x.png" alt=""></span>
            <span >首页</span>
        </a>
        <a href="">
            <span><img src="../../images/Artboard%202%20Copy%206@3x.png" alt=""></span>
            <span>订单</span>
        </a>
        <a href="">
            <span><img src="../../images/Artboard%202%20Copy%207@3x.png" alt=""></span>
            <span>报销</span>
        </a>
        <a href="javascript:void(0);">
            <span><img src="../../images/Artboard%202%20Copy%203@3x.png" alt=""></span>
            <span class="list-col">个人</span>
        </a>
    </nav>

</div>

</body>
</html>