<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=yes"/>
    <title>订单</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/order.css">
    <style>

    </style>
</head>
<body>
<div class="wrapper">
    <div class="top_1">
       订单
    </div>
    <div class="order-top">
       <span class="order-select">正式订单</span>
        <span>已提交订单</span>
    </div>
    <div class="order-lis">
        <img src="../../images/Artboard 30@2x.png" alt="">
        <span>还没有订单哦！</span>
    </div>

    <nav class="nav-list">
        <a href="../index.html">
            <span><img src="../../images/Artboard%202%20Copy%205@3x.png" alt=""></span>
            <span >首页</span>
        </a>
        <a href="javascript:void(0);">
            <span><img src="../../images/Group 32@3x.png" alt=""></span>
            <span class="list-col">订单</span>
        </a>
        <a href="">
            <span><img src="../../images/Artboard%202%20Copy%207@3x.png" alt=""></span>
            <span>报销</span>
        </a>
        <a href="../Personal/personal.html">
            <span><img src="../../images/Artboard 2 Copy@3x.png" alt=""></span>
            <span >个人</span>
        </a>
    </nav>

</div>

</body>
</html>