<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=yes"/>
    <title>订单详情</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/order.css">
    <style>
    </style>
</head>
<body>
<div class="wrapper">
    <div class="top_1">
        <img class="return" src="../../images/Artboard1@2x.png" alt="">
        订单详情
    </div>
    <div class="order-det" >
        <ul>
            <li class="order-li1">订单号：<span>1000000050</span></li>
            <li class="order-li2"><span>2017</span>年<span>6</span>月<span>7</span>日</li>
            <li><span class="state dis_b">未生成</span></li>
        </ul>
        <div class="order-box1">
            <div class="order-name">
                客户：<span>哈啰通用设备（上海）有限公司喜马拉雅店</span>
            </div>
            <div>
                金额：<span class="red">583.00¥</span>
            </div>
            <div>
                <span>利润：<span class="red">0.00¥</span></span>
                <span class="lv">利率：<span class="red">0.00%</span></span>
            </div>
        </div>
    </div>
    <div class="product-box">
         <div class="product"><span>产品</span></div>
        <div class="product-list b-top">
            <div class="product-list-box">
                <div class="span-box">
                    <span class="product-sp1 f1 fz9">SIGMA卧室冷柜</span>
                </div>
                <span class="product-sp2 dis_b">存货编号:<span>HF-JC-65SFW</span></span>
                <div class="product-box1">
                    <div class="dis_in product-div1 f1 fz9">
                        <span class="product-sp3">单价：<span class="red">16，763.00¥</span></span>
                        <span class="product-sp3">总价：<span class="red">16，763.00¥</span></span>
                    </div>
                    <div class="dis_in product-div2">
                        <span class="fz9 f1">数量：<span class="red">3</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-list b-top">
            <div class="product-list-box">
                <div class="span-box">
                    <span class="product-sp1 f1 fz9">SIGMA卧室冷柜</span>
                </div>
                <span class="product-sp2 dis_b">存货编号:<span>HF-JC-65SFW</span></span>
                <div class="product-box1">
                    <div class="dis_in product-div1 f1 fz9">
                        <span class="product-sp3">单价：<span class="red">16，763.00¥</span></span>
                        <span class="product-sp3">总价：<span class="red">16，763.00¥</span></span>
                    </div>
                    <div class="dis_in product-div2">
                        <span class="fz9 f1">数量：<span class="red">3</span></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="product-list b-top">
            <div class="product-list-box">
                <div class="span-box">
                    <span class="product-sp1 f1 fz9">SIGMA卧室冷柜</span>
                </div>
                <span class="product-sp2 dis_b">存货编号:<span>HF-JC-65SFW</span></span>
                <div class="product-box1">
                    <div class="dis_in product-div1 f1 fz9">
                        <span class="product-sp3">单价：<span class="red">16，763.00¥</span></span>
                        <span class="product-sp3">总价：<span class="red">16，763.00¥</span></span>
                    </div>
                    <div class="dis_in product-div2">
                        <span class="fz9 f1">数量：<span class="red">3</span></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <nav class="nav-list">
        <a href="../index.html">
            <span><img src="../../images/Artboard%202%20Copy%205@3x.png" alt=""></span>
            <span >首页</span>
        </a>
        <a href="javascript:void(0);">
            <span><img src="../../images/Group 32@3x.png" alt=""></span>
            <span class="list-col">订单</span>
        </a>
        <a href="">
            <span><img src="../../images/Artboard%202%20Copy%207@3x.png" alt=""></span>
            <span>报销</span>
        </a>
        <a href="../Personal/personal.html">
            <span><img src="../../images/Artboard 2 Copy@3x.png" alt=""></span>
            <span >个人</span>
        </a>
    </nav>

</div>

</body>
</html>