<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
    <meta name="format-detection" content="telephone=yes"/>
    <title>哈啰通用</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/index.css">

    <style>
    </style>
</head>
<body>
<div class="wrapper">
    <div class="top_1">
        <img class="logo-1" src="../images/Page 1 Copy 2@2x.png" alt="">
        <img class="buy-cat" src="../images/Artboard 3@3x.png" alt="">
    </div>
    <img class="holo-1" src="../images/Artboard 10.png" alt="">
    <div class="show-1">
         <div class="show-1-1">
             <div class="lf dis_in">
                 <img src="../images/Artboard 12@3x.png" alt="">
                 <span>场景展示</span>
             </div>
             <div class="rg dis_in">
                  <span>更多</span>
                 <img src="../images/Artboard 13@3x.png" alt="">
             </div>
         </div>
        <div class="pic-box">
            <div>
                <img src="../images/Artboard 10.png" alt="">
            </div>
            <div>
                <img src="../images/Artboard 10.png" alt="">
            </div>
            <div>
                <img src="../images/Artboard 10.png" alt="">
            </div>
            <div>
                <img src="../images/Artboard 10.png" alt="">
            </div>
        </div>
    </div>
    <div class="show-2">
        <div class="show-1-1">
            <div class="lf dis_in">
                <img src="../images/Artboard 12@3x.png" alt="">
                <span>场景展示</span>
            </div>
            <div class="rg dis_in">
                <span>更多</span>
                <img src="../images/Artboard 13@3x.png" alt="">
            </div>
        </div>
        <div class="com" >
            <div class="search">
                <img src="../images/Artboard 14@3x.png" alt="">
                请输入搜索词
            </div>
            <div class="exhibits">
                <div class="pic-exhibits dis_in">
                    <img src="../images/Artboard 10.png" alt="">
                </div>
                <div class="exhibits-price dis_in b-btm" >
                    <div class="exhibits-style">AHT 卧室冷柜</div>
                    <div class="exhibits-pri" >¥16,500 <img src="../images/Artboard 4@3x.png" alt=""></div>

                </div>
            </div>
            <div class="exhibits">
                <div class="pic-exhibits dis_in">
                    <img src="../images/Artboard 10.png" alt="">
                </div>
                <div class="exhibits-price dis_in b-btm" >
                    <div class="exhibits-style">AHT 卧室冷柜</div>
                    <div class="exhibits-pri" >¥16,500 <img src="../images/Artboard 4@3x.png" alt=""></div>

                </div>
            </div>
            <div class="exhibits">
                <div class="pic-exhibits dis_in">
                    <img src="../images/Artboard 10.png" alt="">
                </div>
                <div class="exhibits-price dis_in b-btm" >
                    <div class="exhibits-style">AHT 卧室冷柜</div>
                    <div class="exhibits-pri" >¥16,500 <img src="../images/Artboard 4@3x.png" alt=""></div>
                </div>
            </div>
            <div class="exhibits">
                <div class="pic-exhibits dis_in">
                    <img src="../images/Artboard 10.png" alt="">
                </div>
                <div class="exhibits-price dis_in b-btm" >
                    <div class="exhibits-style">AHT 卧室冷柜</div>
                    <div class="exhibits-pri" >¥16,500 <img src="../images/Artboard 4@3x.png" alt=""></div>
                </div>
            </div>
            <div class="exhibits">
                <div class="pic-exhibits dis_in">
                    <img src="../images/Artboard 10.png" alt="">
                </div>
                <div class="exhibits-price dis_in b-btm" >
                    <div class="exhibits-style">AHT 卧室冷柜</div>
                    <div class="exhibits-pri" >¥16,500 <img src="../images/Artboard 4@3x.png" alt=""></div>
                </div>
            </div>
            <div class="exhibits">
                <div class="pic-exhibits dis_in">
                    <img src="../images/Artboard 10.png" alt="">
                </div>
                <div class="exhibits-price dis_in b-btm" >
                    <div class="exhibits-style">AHT 卧室冷柜</div>
                    <div class="exhibits-pri" >¥16,500 <img src="../images/Artboard 4@3x.png" alt=""></div>
                </div>
            </div>
        </div>

    </div>

    <nav class="nav-list">
        <a href="javascript:void(0);">
            <span><img src="../images/Combined Shape@3x.png" alt=""></span>
            <span class="list-col">首页</span>
        </a>
        <a href="">
            <span><img src="../images/Artboard 2 Copy 6@3x.png" alt=""></span>
            <span>订单</span>
        </a>
        <a href="">
            <span><img src="../images/Artboard 2 Copy 7@3x.png" alt=""></span>
            <span>报销</span>
        </a>
        <a href="Personal/personal.html">
            <span><img src="../images/Artboard 2 Copy@3x.png" alt=""></span>
            <span>个人</span>
        </a>
    </nav>

</div>

</body>
</html>